---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 3
UseTab: ForIndentation
TabWidth: 8
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
BinPackArguments: false
BinPackParameters: false
AlignOperands: true
AlignTrailingComments: true
PointerAlignment: Left
---
